<div id="slider-box">
<div class="bxSlider">
    <div class="slide">
      <p class="junle">ヒント1 : 職位</p>
      <p class="hint"><%= @position %></p>
    </div>
    <div class="slide">
      <p class="junle">ヒント2 : 研究分野</p>
      <p class="hint"><%= @field %></p>
    </div>
    <div class="slide">
      <p class="junle">ヒント3 : 趣味</p>
      <p class="hint"><%= @hobby %></p>
    </div>
    <div class="slide">
      <p class="junle">ヒント4 : 子供時代の夢</p>
      <p class="hint"><%= @dream %></p>
    </div>
    <div class="slide">
      <p class="junle">ヒント5 : 座右の銘</p>
      <p class="hint"><%= @motto %></p>
    </div>
    <div class="slide">
      <p class="junle">ヒント6 : 愛読書</p>
      <p class="hint"><%= @fbook %></p>
    </div>
    <div class="slide">
      <p class="junle">ヒント7 : 学生へのメッセージ</p>
      <p class="hint"><%= @message %></p>
    </div>
</div>
<%= link_to("答え", :action => "ans", :id => @id) %>
</div>
