<h3>職位</h3>
<%= @position %>

<h3>研究分野</h3>
<%= @field %>

<h3>趣味</h3>
<%= @hobby %>

<h3>子供時代の夢</h3>
<%= @dream %>

<h3>座右の銘</h3>
<%= @motto %>

<h3>愛読書</h3>
<%= @fbook %>

<h3>学生へのメッセージ</h3>
<%= @message %>

</br></br></br>
<%= link_to("答え", :action => "ans", :id => @id) %>


<h4><a href="javascript:">jquery&css-test</a></h4>
